<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop.xsd">

       
       <bean id = "t1" class = "kr.hs.study.beans.TestBean1"></bean>
       <bean id = "advisor" class = "kr.hs.study.advisor.AdvisorClass"></bean>
       <aop:config>
       		<aop:aspect ref="advisor">
       			<aop:pointcut id = "point" expression = "execution(* method3())"/>
       			<!-- 스프링이 method3의 호출을 주시하고 있고, method3가 호출되면, 지정된 advisor의 advisor를 실행한다.
       			위치는  <aop:before method = "before()"..>를 보고 지정된 advice를 실행한다. -->
       			<aop:before method = "before()" pointcut-ref = "point" />
       			<aop:pointcut id = "point1" expression = "execution(* method1())"/>
       			<aop:after method = "after()" pointcut-ref = "point1" />
       		</aop:aspect>
       </aop:config>
</beans>