@charset "UTF-8";
body{
	margin: 0px;
	padding:0px;
}

nav {
	padding : 30px;
	background-color: #fffff0;
	height: 30px;
}

.di{
	width: 100px;
	text-align: center;
	float: left;
}

a{
	text-decoration: none;
	color: black;	
}

.search{
	float: right;
}